.Hotel {
    background-image: url(https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?cs=srgb&dl=pexels-pixabay-258154.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    position: fixed;
   
    }

.topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
    }

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
    }

.search-form {
  display: flex;
  width: 100%;
  max-width: 600px; /* Limit the max width of the search form */
  padding-left:650px;
    }

.search-form input[type="search"] {
  flex: 1; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Rounded corners on the left side */
  
    }

.search-form button {
  padding: 15px;
  background-color: #1e8592;
  color: white;
  border: none;
  border-radius: 20px; /* Rounded corners on the right side */
  cursor: pointer;
    }

.centered-element {
  /* Optional styling for the element itself */
    }






